.alert {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateX(100%); /* Zaczyna się poza ekranem */
    opacity: 0; /* Ustawia przezroczystość na 0 */
  }
  
  .alert-enter {
    transform: translateX(0); /* Wsuwa się na ekran */
    opacity: 1; /* Ustawia przezroczystość na 1 */
  }
  
  .alert-leave {
    transform: translateX(100%); /* Wysuwa się poza ekran */
    opacity: 0; /* Ustawia przezroczystość na 0 */
  }
  